@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

/***********************/
/*****  CSS RESET  *****/
/***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************/
/*****    FONTS    *****/
/***********************/

@font-face {
  font-family: Recursive;
  src: url(home/fonts/Recursive.ttf);
}

:root {
  --white: rgb(244, 244, 244);
  --lightGrey: rgb(237, 237, 237);
  --medGrey: rgb(147, 147, 147);
  --darkGrey: rgb(101, 101, 101);
  --black: rgb(79, 79, 79);
  --accentLight: rgb(232, 187, 255);
  --accentMed: rgb(65 104 107);
  --accentDark: rgb(33 57 78);
  --accentTwo: rgb(89, 56, 255);
}

/***********************/
/*****   PRELOAD   *****/
/***********************/


/***********************/
/***** FOUNDATIONS *****/
/***********************/

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  /* width: 100vw; */
  /* height: 100vh; */
  letter-spacing: 0.15rem;
  font-size: 2.5rem;
  /* background-color: var(--white); */
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.25;
  background: hsl(200 20% 88%);
  text-align: center;
  position: relative;
  font-family: sans-serif;
  color: rgba(14, 8, 42, 0.86);
}

p {
  text-align: left;
  font-size: 1.3rem;
  /* text-align: left; */
  padding: 1rem;
}

.bold {
  font-style: bold;
}

main {
  background: linear-gradient(to bottom, #e4ffff, #6b85ff);
  /* width: 100vw; */
  /* max-width: 100vw; */
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-top: 10rem; */
  padding: 2rem 1rem 2rem 1.25rem;
  background-color: rgb(245, 252, 255);
  /* max-width: 70vw; */
  /* margin: 1rem; */
  flex-direction: column;
}

.speakerCardBox {
  padding-top: 2rem;
}


.textBox {
  text-align: left;
  /* background-color: rgba(209, 223, 234, 0.76); */
  /* border-radius: 1rem; */
  /* padding-top:1rem; */
  max-width: 90vw;
}

canvas {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 900px) {
  main {
    background-color: red;
  }

  body {
    font-size: 1rem;
    line-height: 1.5;
  }

  .contentContainer {
    padding: 2rem;
    max-width: 65rem;
    border: 1px double #28b18a;
    outline: 3px solid #d0eaff;
  }

  .content {
    padding: 0 15%;
  }
}

li {
  font-size: 1.3rem;
  /* text-align: left; */
  text-align: center;
  padding: 1rem;
  /* background-color: aliceblue; */
}

details {
  font-size: 1.3rem;
  text-align: left;
  padding: 1rem;
}

a {
  color: hotpink;
}

.emphasis {
  /* background-color: rgba(255, 255, 0, 0.111); */
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  p,
  li {
    font-size: 1.7rem;
    /* padding: 2rem 10%; */
  }

  ul {
    margin-left: 3em;
    margin-bottom: 2rem;
  }

  li {
    font-size: 1.7rem;
  }

  .textBox {
    padding-top: 2rem;
    max-width: 65rem;
  }
}

/***********************/
/******** LINKS ********/
/***********************/

a {
  color: var(--accentDark);
  text-decoration: rgba(0, 23, 128, 0.088) wavy underline;
  text-decoration: double underline rgba(50, 100, 128, 0.203) 3px;
}

a:hover {
  color: rgb(149, 0, 255);
}

.details a:hover {
  color: rgb(203, 19, 240);
}

/***********************/
/******  BUTTONS  ******/
/***********************/

btn,
.btn {
  display: inline-block;
  background-color: var(--darkGrey);
  color: var(--lightGrey);
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem;
  padding: 0.6em 4em;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
btn:focus {
  background: var(--accentDark);
  color: var(--white);
  outline: none;
  border: var(--white);
  border-width: 0px;
}

@media (min-width: 60rem) {
  btn,
  .btn {
    width: auto;
  }
}

/***********************/
/******  videos  *******/
/***********************/

.fitVids-wrapper {
  position: relative;
  /* padding-bottom: 56.25%; */
  /* padding: 1rem 0; */
  margin: 1.5rem 0;
  height: 0;
}
.fitVids-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p span {
  color: #6928d8;
  font-weight: 600;
}

#viewBio {
  margin: 1.5em 0em 0.75em 0em;
  font-size: x-large;
} 

.category {
  text-transform: lowercase;
  /* margin: 2rem 0 1rem 1rem; */
  background: rgba(221, 213, 230, 0.3);
  color: blueviolet;
  padding: 0.45rem 0.5rem;
  border-radius: 13px;
  font-size: 0.8rem;
  font-family: "Major Mono Display", monospace;
  display: inline-block; /* keep the background color wrapped tight */
}

/***********************/
/******  IMAGES  *******/
/***********************/

img {
  /* max-width: 100vw; */
  padding: 0;
  margin: 0;
  /* max-height: auto; */
  /* max-height: 50vh; */
}

@media (min-width: 60rem) {
  img {
    /* max-width: 20vw; */
  }
}


.landingImg {
  /* background-size: cover; */
  max-width: 80vw;
  margin-top: 3rem;

}

.footerImg {
  background-size: cover;
  margin-top: 7rem;
  width: 100vw;
}

@media (min-width: 60rem) {
  .landingImg {
    max-width: 40vw;
    margin-top: 10rem;
  }

  .footerImg {
    padding: 0;
    margin: 0;
    margin-top: 7rem;
    background-size: cover;
  }
}

@media screen and (min-width: 900px) {
  .contentContainer {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }

  .speakerCardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; /* Adjust this value based on your needs and the actual width of the cards */
  }

  .speakerCard {
    flex: 2 2 50%; /* Adjust to ensure that cards take up exactly 25% (for 1 row of 4) or 50% (for 2 rows of 2) */
    margin: 1rem; /* Adjust margin as needed */
    max-width: calc(50% - 2rem); /* Adjust based on margin to ensure two cards per row */
  }
}

@media screen and (min-width: 900px) {
  .speakerCard {
    max-width: calc(100% - 2rem); /* Full width for smaller screens, adjust margin as needed */
  }
}

.profilePic {
  max-width: 50vw;
  /* height: 100%; */
  background: #d4dfe9;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #009688;
  padding: 36px;
  box-shadow: inset #009688 0 0 0 5px, inset #059c8e 0 0 0 1px, inset #0cab9c 0 0 0 10px, inset #1fbdae 0 0 0 11px, inset #8ce9ff 0 0 0 16px,
    inset #48e4d6 0 0 0 17px, inset #e5f9f7 0 0 0 21px, inset #bfecf7 0 0 0 22px;
  text-shadow: 3px 3px 1px #bfecf7;
  border-radius: 50%;
  display: flex;
  margin: auto;
}

@media screen and (min-width: 900px) {
  .profilePic {
    max-width: 18vw;
    /* height: 100%; */
    background: #d4dfe9;
    font-family: Montserrat, sans-serif;
  }

  .speakerCard {
    margin: 2rem 0.5rem;
  }
}

.logo {
  max-width: 20vw; 
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 0; /* This ensures that the basis for growth starts from 0 */
  object-fit: contain; /* This will ensure the logo scales within the max-width and max-height constraints */
  height: auto; /* Ensure the height adjusts to maintain the aspect ratio */
  max-height: 10vh; /* Optional: you can set a maximum height relative to the viewport height */
}

.sponsorbox {
  display: flex;
  /* flex-direction: column; */
  /* align-content: center; */
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  .logo {
    max-width: 20vw;
    /* max-height: auto; */
    /* margin: 4rem; */
    flex-grow: 1;
    flex-basis: 0;
    /* background-color: white; */
  }

  .sponsorbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
  }
}

.materials {
  width: 25rem;
  flex-grow: 1;
}

/***********************/
/******* HEADERS *******/
/***********************/

h1,
h2 {
  /* font-family: "Major Mono Display", monospace; */
}

h1 {
  color: var(--accentDark);
  font-size: 2rem;
  letter-spacing: 0.1em;
  margin: 2rem 0em 1rem 0em;
  font-weight: 700;
  background: linear-gradient(to right, #005a51, #067e5c, #27b18a, #16bbab);
  /* text-shadow: #059c8e; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 900px) {
  .bold {
    background-color: red;
  }
}
