@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

/***********************/
/*****  CSS RESET  *****/
/***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************/
/*****    FONTS    *****/
/***********************/

@font-face {
  font-family: Recursive;
  src: url(home/fonts/Recursive.ttf);
}

:root {
  --white: rgb(244, 244, 244);
  --lightGrey: rgb(237, 237, 237);
  --medGrey: rgb(147, 147, 147);
  --darkGrey: rgb(101, 101, 101);
  --black: rgb(79, 79, 79);
  --accentLight: rgb(232, 187, 255);
  --accentMed: rgb(65 104 107);
  --accentDark: rgb(33 57 78);
  --accentTwo: rgb(89, 56, 255);
}

/***********************/
/*****   PRELOAD   *****/
/***********************/


/***********************/
/***** FOUNDATIONS *****/
/***********************/

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  /* font-family: monospace; */
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.15rem;
  font-size: 2.5rem;
  /* background-color: var(--white); */
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.25;
  background: hsl(200 20% 88%);
  text-align: center;
  position: relative;
  font-family: sans-serif;
  color: rgba(14, 8, 42, 0.86);
}

p {
  text-align: left;
  font-size: 1.3rem;
  /* text-align: left; */
  padding: 1rem;
}

.bold {
  font-style: bold;
}

main {
  background: linear-gradient(to bottom, #e4ffff, #6b85ff);
  width: 100vw;
  max-width: 100vw;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-top: 10rem; */
  padding: 2rem 1rem 2rem 1.25rem;
  background-color: rgb(245, 252, 255);
  /* max-width: 70vw; */
  /* margin: 1rem; */
  flex-direction: column;
}

.speakerCardBox {
  padding-top: 2rem;
}

.textBox {
  text-align: left;
  /* background-color: rgba(209, 223, 234, 0.76); */
  /* border-radius: 1rem; */
  /* padding-top:1rem; */
  max-width: 90vw;
}

canvas {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 900px) {
  main {
    background-color: red;
  }

  body {
    font-size: 1rem;
    line-height: 1.5;
  }

  .contentContainer {
    padding: 2rem;
    max-width: 65rem;
    border: 1px double #28b18a;
    outline: 3px solid #d0eaff;
  }

  .content {
    padding: 0 15%;
  }
}
